<a href={link Submit} class="submitAventButton">{=SUBMIT_OWN_EVENT_HEADER}</a>
<div style="border-bottom: 1px dotted grey; width: 100%; margin-bottom: 10px;"></div>
<div class="fb-page" data-href="https://www.facebook.com/jihoceskykalendar/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/jihoceskykalendar/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/jihoceskykalendar/">Jihočeský kalendář</a></blockquote></div>